<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Complication - X2015 Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Glance - X2015 Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Notification - X2015 Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>X2015 Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>X2015.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>X2015Kit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F4C47F71C7C1D93002DD588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F4C482B1C7C6232002DD588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F5204C51C34F79B00507125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F73F2EA1C5F4255003347E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F73F3001C5F4C9C003347E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F73F3091C5F4C9D003347E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD925C81C74BB0D00BC26AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FFEA11E1C60D2D0006BB860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
